<div class="flex items-center justify-between mb-4">
  <h2 class="font-semibold text-xl">Folders</h2>
  <%= link("Create folder", to: Routes.user_folders_path(@conn, :new))  %>
</div>
<ul>
  <%= for folder <- @folders do %>
    <li class="flex flex-col gap-y-4 drop-shadow-lg bg-white p-8 rounded-lg">
      <%= link to: Routes.user_folders_path(@conn, :show, folder.id) do %>
        <h3 class="text-md font-semibold"><%= folder.name %></h3>
      <% end %>
    </li>
  <% end %>
</ul>
